# PostgreSQL connection string (PostgreSQL >= 15)
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/smartattend?schema=public"

# Server Port
PORT=5000

# Authentication
JWT_SECRET="smartattend_jwt_super_secret_key_2026"
JWT_EXPIRES_IN="7d"

# Allowed Client Origin
CLIENT_URL="http://localhost:3000"
